<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Menu</title>
    </head>
    <body>
        <ul>
            {% for zodiac in zodiacs %}
                {% if forloop.first %}
                    <li><b>{{ forloop.counter0 }}{{ zodiac|title }}</b></li>
                {% elif forloop.last %}
                    <li style='color:red'>{{ forloop.counter0 }}{{ zodiac|title }}</li>
                {% else %}
                    <li>{{ forloop.counter0 }}{{ zodiac|title }}</li>
                {% endif %}
            {% endfor %}
        </ul>

        {% for key, value in zodiac_dict.items reversed %}
            <p>{{ key }}: {{ value }}</p>
        {% empty %}
            <p>Sorry, no athletes in this list.</p>
        {% endfor %}
    </body>
</html>