{% extends 'base.html' %}


{% load static %}

{% block css_additional %}
<link rel="stylesheet" href=" {% static 'goroscop/css/info.css' %} ">
{% endblock%}

{% block title %}
    Гороскоп для {{ sing|upper}}
{% endblock%}

{% block content %}

    {% include 'includes/navbar.html' %}
    <h1>{{ sing_name|upper }}</h1>
    {% if description is None %}
        <h2>Неправильный знак зодиака - {{ sing|upper }}</h2>
    {% else %}
        <h2> {{ description|capfirst|safe }} </h2>
    {% endif %}
{% endblock%}
       